@import "vars";
@import "mixin";

* {
    font-family: $font1;
}


html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    width: 100%;

    .container {
        width: 80%;
        margin: 0 auto;
        background: transparent;

        #whitelogo{
            width: 150px;
            margin-right: 100px;
            transform: translate(0%, 40%);
        }
        #blacklogo{
            display: none;
            width: 150px;
            margin-right: 100px;
            transform: translate(0%, 40%);
        }

        nav {
            width: 50%;
            padding: 40px 0px 30px 0px;
            display: inline-block;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        padding: 10px;
                        font-family: $font1;

                        &:hover {
                            border-bottom: 1px solid white;
                            transition: 1s all;
                        }
                    }
                }
            }
        }
    }

    .register{
        float: right;
        padding: 30px 0px 30px 0px;
        #signup{
            width: 130px;
            height: 35px;
            border: none;
            border-radius: 30px;
            cursor: pointer;

            &:hover{
                box-shadow: 3px 3px gray;
                transition: 1s all;
                background-color: gainsboro;
            }
        }

        #login{
            width: 130px;
            height: 35px;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            margin-left: 10px;
            &:hover{
                box-shadow: 3px 3px gray;
                transition: 1s all;
                background-color: gainsboro;
            }
        }
    }
}

main {
    #backgroundimage {
        background-image: url(https://wallpapercave.com/wp/wp2659685.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-bottom: 1000px;
        background-attachment: fixed;
    }

    #test{
        max-width: 500px;
    }
}